<br><br>

<h1>My Inquiries</h1>

{{#each inquiriesFromDB}}

<br>
<h3>{{#each category}}
  {{name}}
  {{/each}}
</h3>
<h5>{{when}}</h5>
{{!-- <h3>{{where}}</h3> --}}
{{!-- <h3>{{description}}</h3> --}}
<a href="inquiry/{{id}}">Inquiry Details</a>
<br><br>

<hr>

{{/each}}