<br>

<h2>My Profile</h2>

{{#if clientInSession}}
<br>
    <h4>Username: {{clientInSession.username}}</h4>
    <h4>Name: {{clientInSession.firstName}} {{clientInSession.lastName}} </h4>
    <h4>Email: {{clientInSession.email}}</h4>
{{else}}
    <b>Please login to view profile.<b>
{{/if}}