<br><br>

<div id="pro-side-inquiries">

<h3>All Inquiries</h3>

<hr>

{{#each inquiriesFromDB}}
  {{#if match}}

<br>
<h3>{{clientName}}</h3>
<h3>{{#each category}}
  {{name}}
  {{/each}}
</h3>
<h3>{{when}}</h3>
<h3>{{where}}</h3>

<a href="inquiry/{{id}}/details">Inquiry Details</a>

<br><br>
<hr>

  {{/if}}

{{/each}}

</div>

<div id="details">
  
</div>