<br>

<h3>Client: {{inquiryFromDB.clientName}}</h3>

<br>

<h4>Requesting: 
    {{#each inquiryFromDB.category}}
        {{name}}
    {{/each}}
</h4>

<h4>When: {{inquiryFromDB.when}}</h4>

<h4>Where: {{inquiryFromDB.where}}</h4>

<h4>Description: {{inquiryFromDB.description}}</h4>

<br>

<a href="/inquiries">Back</a>
<a href="/response-sent">Respond</a>