<h3>All Inquiries</h3>
{{#each inquiriesFromDB}}

<br><br><br>
<h3>{{fullName}}</h3>
<h3>{{#each category}}
  {{name}}
  {{/each}}
</h3>
<h3>{{when}}</h3>
<h3>{{where}}</h3>
<h3>{{description}}</h3>

<a href="inquiry/{{id}}">Inquiry Details</a>
<br><br><br>

{{/each}}