<br>

<h3>{{profileFromDB.username}}'s Profile</h3>
<br>
<h5>Name: {{profileFromDB.firstName}} {{profileFromDB.lastName}}</h>
<h5>Email: {{profileFromDB.email}}</h5>
<h5>Occupation: 
  {{#each profileFromDB.occupation}}
    {{name}}
  {{/each}}
</h5>

<h5>Profile Picture:</h5>
<div class="profile-picture">
  <img src="{{profileFromDB.profilePicture}}" width="300px;" alt="{{profileFromDB.firstName}}">
</div>

<br>

<a href="/edit/:id/profile">Edit Profile</a>